encryption = "age"
[age]
    identity = "/home/ben/.config/sops/age/keys.txt"
    recipient = "age1g5k44garh308gqddyy0upn7dmnxcv5s9yhtf2n47axhmlm58m4lqq7hpd6"
    
[merge]
command = "bash"
args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
]

[diff]
command = "code"
args = ["--wait", "--diff"]

