[user]
	name = Nutchanon Ninyawee
	email = me@nutchanon.com

[pull]
	rebase = true

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential "https://github.com"]
	helper = 
	helper = !{{ lookPath "gh" }} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{ lookPath "gh" }} auth git-credential
[core]
	sshCommand = ssh.exe
[credential "https://dev.azure.com/"]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath = true
{{   else }}
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = cache
	cacheOptions = --timeout 604800
[credential "https://dev.azure.com"]
	useHttpPath = true
{{   end }}
{{ end }}

[alias]
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync

[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3