#!/usr/bin/env bash
# A chezmoi script to install all the dependencies I need on a new machine

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew is already installed"
fi

{{ if eq .chezmoi.os "linux" -}}
sudo apt update

# Initialize the list of packages
apt_packages=()

install_apt_package() {
    if [[ $1 == "COMMIT" ]]; then
        # Install all packages in the list
        sudo apt install -y "${apt_packages[@]}"
        # Reset the list
        apt_packages=()
    else
        # Add the package to the list
        apt_packages+=("$1")
        echo "current pending packages: ${apt_packages[@]}"
    fi
}


# Install asdf plugin dependencies
install_apt_package curl
install_apt_package git
install_apt_package jq
install_apt_package unzip

# for `pipx`
install_apt_package python3-venv

# for `pgcli`
install_apt_package libpq-dev

install_apt_package universal-ctags

# List of Python dependencies
python_deps=("build-essential" "libssl-dev" "zlib1g-dev" "libbz2-dev" "libreadline-dev" "libsqlite3-dev" "wget" "curl" "llvm" "libncurses5-dev" "libncursesw5-dev" "xz-utils" "tk-dev" "libffi-dev" "liblzma-dev" "libxml2-dev" "libxmlsec1-dev")

# Loop over the Python dependencies
for package in ${python_deps[@]}; do
    install_apt_package $package
done

# https://github.com/alacritty/alacritty/blob/master/INSTALL.md
# apt install cmake pkg-config libfreetype6-dev libfontconfig1-dev libxcb-xfixes0-dev libxkbcommon-dev python3

# Install CLI tools
install_apt_package htop
install_apt_package ncdu
install_apt_package ripgrep
install_apt_package httpie
install_apt_package micro

install_apt_package COMMIT

# Install DVC
sudo snap install dvc --classic



{{ else if eq .chezmoi.os "darwin" -}}
brew install ripgrep
{{ end -}}


RTX_BIN="$HOME/.local/share/rtx/bin/rtx"

if ! command -v rtx &> /dev/null; then
    if [ ! -d "$RTX_BIN" ] && ! command -v rtx &> /dev/null; then
        curl https://rtx.pub/install.sh | sh
    else
        echo "rtx is already installed"
        RTX_BIN=$(which rtx)
    fi
fi

eval "$($RTX_BIN activate bash)"

$RTX_BIN plugin add mcfly https://github.com/barolab/asdf-mcfly.git
$RTX_BIN plugin add tealdeer https://github.com/comdotlinux/asdf-tealdeer.git
$RTX_BIN plugin add lazydocker https://github.com/comdotlinux/asdf-lazydocker.git
$RTX_BIN install

# for `pipx` completions
pipx install argcomplete

pipx install glances
pipx install litecli
pipx install pgcli
# --include-deps setuptools not working
# https://stackoverflow.com/questions/77247893/modulenotfounderror-no-module-named-distutils-in-python-3-12
rtx install python@3.11
rtx use python@3.11
pipx install --python $(rtx which python) thefuck
# pipx inject thefuck setuptools
pipx upgrade-all

cargo binstall --no-confirm rm-improved xcp sd procs bottom topgrade broot tokei  zellij xh monolith git-delta  
# fails: kdash
cargo binstall --no-confirm --git https://github.com/sirwart/ripsecrets ripsecrets 

brew install nushell

git config --global user.email {{ .email | quote }}
git config --global user.name {{ .name | quote }}
git config --global pull.rebase false
