#!/usr/bin/env bash
# A chezmoi script to install all the dependencies I need on a new machine

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew is already installed"
fi

{{ if eq .chezmoi.os "linux" -}}
install_apt_package() {
    package=$1

    # Check if the package is already installed
    if ! dpkg -l | grep -q "^ii  $package "; then
        # If not, install the package
        sudo apt install -y $package
    else
        # If it is, print a message saying that the package is already installed
        echo "$package is already installed"
    fi
}

sudo apt update

# Install asdf dependencies
install_apt_package curl
install_apt_package git
install_apt_package jq
install_apt_package unzip

install_apt_package universal-ctags

# List of Python dependencies
python_deps=("build-essential" "libssl-dev" "zlib1g-dev" "libbz2-dev" "libreadline-dev" "libsqlite3-dev" "wget" "curl" "llvm" "libncurses5-dev" "libncursesw5-dev" "xz-utils" "tk-dev" "libffi-dev" "liblzma-dev" "libxml2-dev" "libxmlsec1-dev")

# Loop over the Python dependencies
for package in ${python_deps[@]}; do
    install_apt_package $package
done

# Install DVC
sudo snap install dvc --classic



{{ else if eq .chezmoi.os "darwin" -}}
brew install ripgrep
{{ end -}}


if [ ! -d "$HOME/.asdf" ]; then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.12.0
fi

alias asdf=$HOME/.asdf/bin/asdf


install_package() {
    package=$1

    # Add the package to asdf
    asdf plugin add $package

    # Check if the package is already installed
    if ! asdf list $package | grep -q "$(asdf latest $package)"; then
        # If not, install the latest version of the package
        asdf install $package latest
        asdf global $package latest
    else
        # If it is, print a message saying that the package is already installed
        echo "$package is already installed"
    fi
}

# List of packages to be installed
packages=("python" "poetry" "pipx" "nodejs" "pnpm" "just" "fzf" "zoxide" "bat" "fd" "exa" "dust")

# Loop over the packages
for package in ${packages[@]}; do
    install_package $package
done

# pipx req
install_apt_package python3-venv

sudo apt install htop
sudo apt install ncdu
sudo apt install ripgrep
sudo apt install httpie
pipx install glances
pipx install litecli

install_apt_package libpq-dev
pipx install pgcli

export PNPM_HOME="$HOME/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
pnpm install -g @githubnext/github-copilot-cli

# docker
if ! command -v ctop &> /dev/null
then
    # BEGIN: ed8c6549bwf9
    sudo wget https://github.com/bcicen/ctop/releases/download/v0.7.7/ctop-0.7.7-linux-amd64 -O /usr/local/bin/ctop
    sudo chmod +x /usr/local/bin/ctop
    # END: ed8c6549bwf9
else
    echo "ctop is already installed"
fi

asdf plugin add lazydocker https://github.com/comdotlinux/asdf-lazydocker.git
asdf install lazydocker latest
asdf global lazydocker latest

# tldr
# https://tracker.debian.org/pkg/rust-tealdeer
# sudo apt install rust-tealdeer
# sudo apt install tldr
# tldr --update

# https://switowski.com/blog/favorite-cli-tools/