{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt update

# Install asdf dependencies
sudo apt install curl git jq

# Python dependencies
sudo apt install build-essential libssl-dev zlib1g-dev libbz2-dev \
    libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev \
    libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl


# Install DVC
sudo snap install dvc --classic



{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep
{{ end -}}


if [ ! -d "$HOME/.asdf" ]; then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.12.0
fi

alias asdf=$HOME/.asdf/bin/asdf


# Install Python
asdf plugin add python
asdf install python latest
asdf global python latest

# Install Poetry
asdf plugin add poetry
asdf install poetry latest
asdf global poetry latest



# Install Node.js
asdf plugin add nodejs
asdf install nodejs 18.17.0
asdf global nodejs 18.17.0

# Install PNPM
asdf plugin add pnpm
asdf install pnpm latest
asdf global pnpm latest

# Install Just
asdf plugin add just
asdf install just latest
asdf global just latest

asdf plugin add fzf
asdf install fzf latest
asdf global fzf latest

asdf plugin add zoxide
asdf install zoxide latest
asdf global zoxide latest

asdf plugin add bat
asdf install bat latest
asdf global bat latest

asdf plugin add mcfly
asdf install mcfly latest
asdf global mcfly latest

asdf plugin add fd
asdf install fd latest
asdf global fd latest

asdf plugin add exa
asdf install exa latest
asdf global exa latest

asdf plugin add dust
asdf install dust latest
asdf global dust latest

asdf plugin add htop
asdf install htop latest
asdf global htop latest

# tealdeer
asdf plugin add tealdeer
asdf install tealdeer latest
asdf global tealdeer latest
tealdeer --update
