#!/bin/sh
if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew is already installed"
fi

{{ if eq .chezmoi.os "linux" -}}
sudo apt update

# Install asdf dependencies
sudo apt install curl git jq

# Python dependencies
sudo apt install build-essential libssl-dev zlib1g-dev libbz2-dev \
libreadline-dev libsqlite3-dev wget curl llvm libncurses5-dev \
libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python-openssl

sudo apt install build-essential libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev curl \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev

# Install DVC
sudo snap install dvc --classic



{{ else if eq .chezmoi.os "darwin" -}}
brew install ripgrep
{{ end -}}


if [ ! -d "$HOME/.asdf" ]; then
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.12.0
fi

alias asdf=$HOME/.asdf/bin/asdf


# Install Python
asdf plugin add python
if ! asdf list python | grep -q "$(asdf latest python)"; then
    asdf install python latest
    asdf global python latest
else
    echo "Python is already installed"
fi

# Install Poetry
asdf plugin add poetry
# Install Poetry
asdf plugin add poetry
if ! asdf list poetry | grep -q "$(asdf latest poetry)"; then
    asdf install poetry latest
    asdf global poetry latest
else
    echo "Poetry is already installed"
fi

# Install Pipx
asdf plugin add pipx
if ! asdf list pipx | grep -q "$(asdf latest pipx)"; then
    asdf install pipx latest
    asdf global pipx latest
else
    echo "Pipx is already installed"
fi

# Install Node.js
asdf plugin add nodejs
if ! asdf list nodejs | grep -q "18.17.0"; then
    asdf install nodejs 18.17.0
    asdf global nodejs 18.17.0
else
    echo "Node.js is already installed"
fi

# Install PNPM
asdf plugin add pnpm
if ! asdf list pnpm | grep -q "$(asdf latest pnpm)"; then
    asdf install pnpm latest
    asdf global pnpm latest
else
    echo "PNPM is already installed"
fi

# Install Just
asdf plugin add just
if ! asdf list just | grep -q "$(asdf latest just)"; then
    asdf install just latest
    asdf global just latest
else
    echo "Just is already installed"
fi

# Install FZF
asdf plugin add fzf
if ! asdf list fzf | grep -q "$(asdf latest fzf)"; then
    asdf install fzf latest
    asdf global fzf latest
else
    echo "FZF is already installed"
fi

# Install Zoxide
asdf plugin add zoxide
if ! asdf list zoxide | grep -q "$(asdf latest zoxide)"; then
    asdf install zoxide latest
    asdf global zoxide latest
else
    echo "Zoxide is already installed"
fi

# Install Bat
asdf plugin add bat
if ! asdf list bat | grep -q "$(asdf latest bat)"; then
    asdf install bat latest
    asdf global bat latest
else
    echo "Bat is already installed"
fi

# Install FD
asdf plugin add fd
if ! asdf list fd | grep -q "$(asdf latest fd)"; then
    asdf install fd latest
    asdf global fd latest
else
    echo "FD is already installed"
fi

# Install Exa
asdf plugin add exa
if ! asdf list exa | grep -q "$(asdf latest exa)"; then
    asdf install exa latest
    asdf global exa latest
else
    echo "Exa is already installed"
fi

# Install Dust
asdf plugin add dust
if ! asdf list dust | grep -q "$(asdf latest dust)"; then
    asdf install dust latest
    asdf global dust latest
else
    echo "Dust is already installed"
fi
asdf global dust latest

sudo apt install htop
sudo apt install ncdu
sudo apt install ripgrep
sudo apt install httpie
pipx install glances
pipx install litecli
pipx install pgcli
pnpm install -g @githubnext/github-copilot-cli

# docker
if ! command -v ctop &> /dev/null
then
    # BEGIN: ed8c6549bwf9
    sudo wget https://github.com/bcicen/ctop/releases/download/v0.7.7/ctop-0.7.7-linux-amd64 -O /usr/local/bin/ctop
    sudo chmod +x /usr/local/bin/ctop
    # END: ed8c6549bwf9
else
    echo "ctop is already installed"
fi

asdf plugin add lazydocker https://github.com/comdotlinux/asdf-lazydocker.git
asdf install lazydocker latest
asdf global lazydocker latest

# tldr
# https://tracker.debian.org/pkg/rust-tealdeer
# sudo apt install rust-tealdeer
# sudo apt install tldr
# tldr --update

# https://switowski.com/blog/favorite-cli-tools/