[env]
sops_recipients = "age1g5k44garh308gqddyy0upn7dmnxcv5s9yhtf2n47axhmlm58m4lqq7hpd6"

[tools]
node = "lts"
just = "latest"
rust = "latest"
"cargo:xcp" = "latest"
java = "latest"
bun = "latest"
"pipx:trash-cli" = "latest"
"cargo:mprocs" = "latest"
gcloud = "latest"
go = "latest"
python = "3.12"
poetry = "latest"
mc = "latest"
sops = "latest"
age = "latest"
"cargo:rops-cli" = "latest"
pkl = "latest"
hk = "latest"
uv = "latest"
bat = "latest"
"pipx:ttok" = "latest"
watchexec = "latest"
chezmoi = "latest"
usage = "latest"
"ubi:git-town/git-town" = "latest"
"cargo:bat" = "latest"
zellij = "latest"
lazygit = "latest"
fd = "latest"
"cargo:git-graph" = "latest"
zoxide = "latest"
fzf = "latest"
"cargo:zesh" = "latest"
sd = "latest"
ripgrep = "latest"
delta = "latest"
lazydocker = "latest"
"ubi:supabase-community/postgres-language-server" = "latest"
television = "latest"
eza = "latest"
deno = "latest"
duf = "latest"
cargo-binstall = "latest"
"cargo:du" = "latest"
rclone = "latest"
helix = "latest"
"pipx:httpie" = "latest"
"pipx:juv" = "latest"
"ubi:supabase/cli" = {version = "latest", exe="supabase"}
"pipx:aider-chat" = "latest"
"cargo:cargo-binstall" = "latest"
"cargo:ouch" = "latest"
gh = "latest"
"cargo:alacritty" = "latest"
jj = "latest"
"pipx:pgcli" = "latest"
"cargo:tealdeer" = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = []

[settings.python]
compile = true

[settings.pipx]
uvx = true

[settings.npm]
bun = true
