{{ if eq .chezmoi.os "windows" -}}
winget install --id=Starship.Starship  -e
winget install --id=Microsoft.WindowsTerminal  -e
winget install --id=Microsoft.VisualStudioCode  -e
winget install --id=Microsoft.PowerToys  -e

. (Join-Path (Split-Path $PROFILE -Parent) "commands\1pass.ps1")

op document create "$HOME/.ssh/config" --title "ssh-config"

{{ end -}}
