{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# A chezmoi script to install all the dependencies I need on a new machine

mise_BIN="$HOME/.local/bin/mise"

if ! command -v mise &> /dev/null; then
    if [ ! -d "$mise_BIN" ] && ! command -v mise &> /dev/null; then
        curl https://mise.jdx.dev/install.sh | sh
    else
        echo "mise is already installed"
        mise_BIN=$(which mise)
    fi
fi


echo "Please run `mise i` to install all the packages in ~/.tool-versions"
{{ end -}}
